[Desktop Entry]
Name=Juniu Connect Manager
Exec=/opt/jcm/main.py
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/jcm/res/app.png
Categories=GNOME;GTK;Network;
X-Desktop-File-Install-Version=0.21
